@import 'variables'
@media (max-width: 768px) 
    *
        font-family: 'Roboto', sans-serif
    body
        margin: 0px
    .main__container
        padding: 0px    
    header
        display: flex
        width: 100%
        justify-content: center
        align-items: center
        flex-shrink: 0
        flex-direction: column
        z-index: 1000
        position: relative  
    .nav__bar
        width: 100%
        z-index: 1000
        position: relative
    .navbar__img
            display: flex
            justify-content: center
            align-items: center
            height: 36px
            padding: 14px 89px 13px 89px
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)

    .nav_bar .location
            display: flex
            width: 100%
            height: 50px
            justify-content: center
            align-items: center
            gap: 17px
            background-color: $input_grey-color
            border: 0
            text-align: center
            font-weight: 500
            position: relative
    .home__page
        padding: 2rem 2rem 4.375rem 2rem
        text-align: center
        background-color: $background_grey-color
        h2
            font-weight: 700
            margin: 0
        p
            margin: 0
            padding: 0
            font-weight: 300
            padding-bottom: 30px
        & .btn 
            @include button($background_grey-color)
    .functionality
        display: flex
        flex-direction: column
        padding: 0rem 2rem
        h2
            font-family: Roboto
            font-size: 1.5rem
            font-style: normal
            font-weight: 700
            line-height: normal
        &__step
            @include choiceplat($shadow: true)
            list-style: none
        &__step::before
            counter-increment: compteListe 1 
            content: counter(compteListe) " " 
            background: #9356dc 
            height: 1.5rem 
            width: 1.5rem 
            border-radius: 100px 
            display: flex 
            justify-content: center 
            align-items: center 
            color: #fff 
            position: absolute 
            left: 2rem
        ul
            counter-reset: compteListe
            padding: 0 0 0 15px
            
    .restaurants
        background-color: $background_grey-color
        display: flex
        flex-direction: column
        padding: 0rem 2rem 2rem
        .restaurant__title
                display: flex
                justify-content: space-between
                align-items: center
        .list__restaurants
            gap:15px
            display: flex
            flex-direction: column
        .list__restaurants .card
            @include card__restaurant()
            position: relative
            img
                width: 100%
                height: 175px
                border-radius: 15px 15px 0 0
                object-fit: cover
            h2
                font-size: 18px
                margin: 0
            > a
                color: inherit
                text-decoration: none
                display: flex
                flex-direction: column
            &__badge
                background-color: #99e2d0
                color: #1b6150
                padding: .5rem
                border-radius: .125rem
                position: absolute
                top: 1rem
                right: .75rem
            &__footer
                padding: 1rem
                position: relative
                display: flex
                align-items: center
                > .btn
                    flex: 1
                    .fa-heart
                        font-size: 2rem
                        position: absolute
                        right: 5%
                        top: 30%
                    .fa-solid
                        color: transparent
                        background-image: linear-gradient(#9356DC, #FF79DA)
                        -webkit-background-clip: text
                        background-clip: text
                        opacity: 0
                        transition: all .7s ease-in-out
                        &:hover, :focus
                            opacity: 1
                            transform: scale(1.1)
            &__content
                flex:1
    .footer
        &__section
            display: flex
            flex-direction: column
            background-color:#353535
            color: #fff
            padding: 1rem
        &__article
            display: flex
            flex-direction: column
        &__logo
            font-family: Shrikhand,"cursive"
            font-size: 1.2rem
            margin: 0 0 1rem
        &__lists
            list-style: none
            padding: 0
            margin: 0
            gap:7px
            display: flex
            flex-direction: column
        &__link
            text-decoration: none
            color: #fff
        &__icon
            margin-right: .5rem
            width: 1.2rem

.loader
    position: fixed
    height: 100%
    width: 100%
    left: 0
    top: 0
    background-color: rgba(255, 255, 255, 0.90)
    animation: loader 0.01s
    animation-delay: 1.75s
    animation-fill-mode: both
    z-index: 10000
    display:flex
    align-items:center
    justify-content:center
    display: flex
    align-items: center
    justify-content: center
    &__container
        display: flex
        width: auto
        justify-content: space-between
    &__item
        height: 75px
        width: 75px
        border-radius: 50px
        animation: jump 1s
        animation-iteration-count: 1
        margin-right: 10px
        display: flex
        &--1
            background-color: $primary-color
        .title
            display: flex
            font-size: 25px
            position: relative
            flex: 1
            align-items: center
            justify-content: center
            &--1
                color: $secondary-color
            &--2
                color: $tertiary-color
            &--3
                color: $primary-color
        &--2
            background-color: $secondary-color
            animation-delay: .25s
        &--3
            background-color: $tertiary-color
            animation-delay: .5s
 
