.wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: stroke 4s alternate;
  animation-fill-mode: both;
  stroke-width: 2;
  stroke: #9356DC;
  font-size: 4.375rem;
  z-index: 10000;
}

svg {
  width: 100%;
  height: 100%;
}

.delay-0 {
  animation: itemAppear 0s;
}

.delay-1 {
  animation: itemAppear 0.1s;
}

.delay-2 {
  animation: itemAppear 0.2s;
}

.delay-3 {
  animation: itemAppear 0.3s;
}

.delay-4 {
  animation: itemAppear 0.4s;
}

.delay-5 {
  animation: itemAppear 0.5s;
}

.delay-6 {
  animation: itemAppear 0.6s;
}

.delay-7 {
  animation: itemAppear 0.7s;
}

.delay-8 {
  animation: itemAppear 0.8s;
}

.delay-9 {
  animation: itemAppear 0.9s;
}

.delay-10 {
  animation: itemAppear 1s;
}

@keyframes stroke {
  0% {
    fill: rgba(153, 226, 208, 0);
    stroke: rgb(147, 86, 220);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(153, 226, 208, 0);
    stroke: rgb(147, 86, 220);
  }
  80% {
    fill: rgba(153, 226, 208, 0);
    stroke: rgb(147, 86, 220);
    stroke-width: 3;
  }
  100% {
    fill: rgb(153, 226, 208);
    stroke: rgba(147, 86, 220, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
    opacity: 0;
    z-index: -10;
  }
}
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}