.wrapper .focus-in-contract {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  z-index: 2500;
  animation: focus-in-contract 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  background: #9356DC;
  background: radial-gradient(circle farthest-corner at bottom center, #9356DC 0%, #FF79DA 28%, #99E2D0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: black;
}
@media (min-width: 64rem) {
  .wrapper .focus-in-contract {
    font-size: 4.375rem;
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  animation: loader 4s ease reverse forwards;
  z-index: 2600;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
}
.loader__item {
  border-radius: 1rem;
  animation: jump 1s;
  font-size: 3rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #d60;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  gap: 25px;
  justify-content: space-between;
}
.loader__item--1 .fa-solid {
  background-color: #9356DC;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #9356DC;
}
.loader__item--2 {
  animation-delay: 0.25s;
}
.loader__item--2 .fa-solid {
  background-color: #FF79DA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #FF79DA;
}
.loader__item--3 {
  animation-delay: 0.5s;
}
.loader__item--3 .fa-solid {
  background-color: #99E2D0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #99E2D0;
}

@keyframes loader {
  0% {
    opacity: 0;
    z-index: -10;
  }
  100% {
    opacity: 1;
    z-index: 200;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-1.5rem);
  }
  75% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
.delay-0 {
  animation: itemAppear 0s;
}

.delay-1 {
  animation: itemAppear 0.1s;
}

.delay-2 {
  animation: itemAppear 0.2s;
}

.delay-3 {
  animation: itemAppear 0.3s;
}

.delay-4 {
  animation: itemAppear 0.4s;
}

.delay-5 {
  animation: itemAppear 0.5s;
}

.delay-6 {
  animation: itemAppear 0.6s;
}

.delay-7 {
  animation: itemAppear 0.7s;
}

.delay-8 {
  animation: itemAppear 0.8s;
}

.delay-9 {
  animation: itemAppear 0.9s;
}

.delay-10 {
  animation: itemAppear 1s;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
    z-index: -10;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}