.footer__section {
  background-color: #353535;
  color: #fff;
  padding: 1.375rem 1.5625rem;
}
.footer__article {
  display: flex;
  flex-direction: column;
  margin-top: 2.375rem;
  gap: 1.25rem;
}
.footer__logo {
  font-size: 1.125rem;
}
.footer__lists {
  list-style: none;
  padding: 0rem;
  padding-right: 3.75rem;
  margin: 0.3125rem;
  gap: 1.25rem;
  display: flex;
  flex-direction: column;
}
.footer__link {
  text-decoration: none;
  color: #fff;
}
.footer__icon {
  margin-right: 0.5rem;
  width: 1.2rem;
}

@media (min-width: 64rem) {
  .footer__logo {
    margin: 0 0 1rem;
  }
  .footer__article {
    flex-direction: row-reverse;
  }
  .footer__lists {
    flex-direction: row;
  }
}